{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "target": "esnext"
     "baseUrl": "./"

   "paths": {
   	"@/*": ["./src/*"],
   }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
